.skills__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap : 2rem 4rem;
}

.card.skills{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.skills__icon{
    background: var(--color-primary);
    padding: 0.4rem 0.8rem;
    border-radius: var(--border-radius-3);
    font-size: 1.5rem;
    color: var(--color-white);
    transition: var(--transition);
}

.skills:hover .skills__icon{
    background: var(--color-light);
    color: var(--color-primary);
}

.skills h4{
    margin-bottom: 0.7rem;
}

@media screen and (max-width : 1024px){
    .skills__container{
        gap: 1.5rem;
    }
}

@media screen and (max-width : 600px) {
    .skills__container{
        grid-template-columns: 1fr;
        gap: 1.2rem;
    }
    .card.skills{
        gap: 1.2rem;
    }
}